<!DOCTYPE html>
<html>
  <head>
    <title> {{ config.PROJECT.name }} </title>

    {% include "partials/head.html" %}
      <link rel="stylesheet" href="/static/css/nix.css">
      <link rel="stylesheet" href="/static/css/main.css">

  </head>
  <body>
    {% include "partials/header.html" %}
    <div class="container wrapper">
      <div class="post-content">
        {% if this.title %}
          <h1>{{ this.title }}</h1>
        {% else %}
          <h1>Uhm... WHAT?</h1>
        {% endif %}
        {% if this.body %}
          {{ this.body }}
        {% else %}
          <p>Looks like you're lost. This page doesn't exist.</p>
        {% endif %}
      </div>
      <div class="push"></div>
    </div>
    {% include "partials/footer.html" %}
  </body>
</html>

