<!DOCTYPE html>
<html>
  <head>
    <title> {% block title %}{{ this.title }}{% endblock %} &middot; {{ config.PROJECT.name }} </title>
    {% include "partials/head.html" %}
  </head>

  <body>
    {% include "partials/header.html" %}
    <div class="container wrapper">
    {% block content %}
    {% endblock %}
    </div>
    <div class="push"></div>
    {% include "partials/footer.html" %}
  </body>
</html>
