{% extends "layout.html" %}
{% block content %}
    {% with project = this %}
        <h1 xmlns="http://www.w3.org/1999/html"><a href="{{ project|url }}">{{ project.title }}</a> {% if project.type != "Released" and project.type != null %}({{ project.type }}) {% endif %}</h1>
        <div class="project-header">
            <span class="project-date">Last Updated: {% if project.update_date != null %}{{ project.update_date.strftime('%b %d, %Y') }}{% else %}{{ project.children.first().release_date.strftime('%b %d, %Y') }}{% endif %}</span>
            <div class="project-links" style="float: right">
                <a class="btn btn-info" href="{{ project.repo }}"><i class="fas fa-code" aria-hidden="true"></i> Source</a>
                <a class="btn btn-warning" href="{{ project.issues }}"><i class="fas fa-exclamation-triangle" aria-hidden="true"></i> Issues</a>
                <a class="btn btn-primary" href="{{ project.children.first().download_url }}"><i class="fas fa-download" aria-hidden="true"></i> Download</a>
            </div>
        </div>
        <div class="project-content">
            <div>
                <h4>Summary:</h4>
                <p>{{ project.summary }}</p>
            </div><br>
            <div>
                <h4>Description:</h4>
                <p>{{ project.description }}</p>
            </div><br>
            <div class="project-version-list">
                <h4>Releases:</h4>
                <ul id="version-list">
                    {% for version in this.children %}
                        <li>
                        <div class="version-list-item">
                            <div class="version-header">
                                <h4 class="version-link">{% if version.type != "Released" and version.type != null %}({{ version.type }}) {% endif %}
                                <a href="{{ version|url }}">v{{ version.version }}</a> (Release Date: {{ version.release_date.strftime('%b %d, %Y') }})</h4>
                            </div>
                        </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endwith %}
{% endblock content %}