{% extends "layout.html" %}
{% block content %}
      <div class="row">
        <div class="col-xs-12 text-center">
          <h1>{{ this.title }}</h1>
        </div>
      </div>
      <p>{{ this.header }}</p><br>
      <ul id="project-list">
      {% for project in this.children %}
        <li>
          <div class="project-list-item">
            <div class="project-header">
              <h4 class="project-link">{% if project.type != "Released" and project.type != null %}({{ project.type }}) {% endif %}
                  <a href="{{ project|url }}">{{ project.title }}</a> (Last Updated: {% if project.update_date != null %}{{ project.update_date.strftime('%b %d, %Y') }}{% else %}{{ project.children.first().release_date.strftime('%b %d, %Y') }}{% endif %})</h4>
            </div>
              <div class="project-summary"><p>{{ project.summary }}</p></div>
          </div>
        </li>
      {% endfor %}
      </ul>
{% endblock content %}