{% extends "layout.html" %}
{% block title %}{{ this.parent.title }} v{{ this.version }}{% endblock title %}
{% block content %}
    {% with version = this %}
    {% with project = this.parent %}
        <h1 xmlns="http://www.w3.org/1999/html"><a href="{{ project|url }}">{{ project.title }}</a> | v{{ version.version }} {% if version.type != "Released" and version.type != null %}({{ version.type }}) {% endif %}</h1>
        <div>
            <span class="version-date">Release Date: {{ version.release_date.strftime('%b %d, %Y') }}</span>
            <div class="version-links" style="float: right">
                <a class="btn btn-info" href="{{ version.release_url }}"><i class="fas fa-code" aria-hidden="true"></i> Source</a>
                <a class="btn btn-warning" href="{{ project.issues }}"><i class="fas fa-exclamation-triangle" aria-hidden="true"></i> Issues</a>
                <a class="btn btn-primary" href="{{ version.download_url }}"><i class="fas fa-download" aria-hidden="true"></i> Download</a>
            </div>
        </div>
        <div class="version-content">
            <div>
                <h4>Project Summary:</h4>
                <p>{{ project.summary }}</p>
            </div><br>
            <div>
                <h4>Release Notes:</h4>
                <p>{{ version.release_notes }}</p>
            </div>
        </div>
    {% endwith %}
    {% endwith %}
{% endblock content %}